# Backend API Server Endpoint (Without trailing slash)
VITE_API_URL=https://your-backend-service-url.onrender.com/api

# Stripe Publishable Key (For client-side Stripe integrations)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TqraAAaWUWhr2KNQHmBaqJFbJ91iJEIQq4Yk04vEoS2J5qMjoxe4mWvTzbjwsUMzh4XmhbtI1qwz5Q7WCH9NYK800v1RuOVrR
